body{
    width:100%;
    z-index:0;
    background-color:black;
}
.bodyContainer{
    margin-top:40px;
    display:block;
    min-width:100%;
}
.row{
    z-index:1;
    padding-left: 15px;
    margin-right: 0px;
}
#bdLeftCont{
    background-color: black;
}
#bdCenterCont{
    background-color: azure;
}
#bdRightCont{
    background-color:coral;
}
div{
    display: block;
}
.headContainer{
    z-index:100;
    position:relative;
    top:0px;
    left:0px;
    height:40px;
    width:100%;
    background-color:blanchedalmond;
}

#headBand{
    position:fixed;
    top:40px;
    background-color: aqua;
    transition-property: top;
    transition-duration: 0.25s;
    -moz-transition-property: top;
    -moz-transition-duration: 0.25s;
}
#containerHeadBand{
    margin-top: -10px;
}

.boutonHeadBand{
    float:left;
    display:inline-block;
    text-align:center;
    height:40px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.boutonHeadBand:hover{
    height:40px;
    background-color:blue;    
}

.title01{
    font-size: 24px;
    padding: 4px;
}

